data/processed/COVID_relational_confirmed.csv
data/processed/COVID_final_set.csv
data/processed/COVID_small_flat_table.csv
data/processed/COVID_small_sync_timeline_table.csv
data/raw/NPGEO/GER_state_data.csv
data/raw/SMARTABLE/US_data.txt
